# Ignore virtual environment directory
myenv/

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore temporary files
*.log
*.tmp
*.temp

# Ignore IDE and editor specific files
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store
